{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Modifier l'auteur {{ entity.name }} </h1>

    {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

    {{ form(edit_form) }}

    <a href="{{ path('authors_show', { 'id': entity.id }) }}">
    	<button class="btn">Retour</button>
    </a>


{% endblock %}
