{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Edition d'utilisateur</h1>

	{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form(edit_form) }}


    <a href="{{ path('users_show', { 'id': entity.id }) }}">
        <button class="btn">Retour</button>
    </a>
    {{ form(delete_form) }}
{% endblock %}
