{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="records_list table table-striped datable">
        <thead> 
            <tr>
                <th>Login</th>
                <th>Mail</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.login }}</a></td>
                <td>{{ entity.mail }}</td>
                <td>
                    {% if entity.isAdmin %}
                        Administrateur
                    {% else %}
                        Membre
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
