{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Playlists</h1>
    <a href="{{ path('playlists_new') }}" > 
        <button class="btn">Ajouter une nouvelle playlist</button>
    </a>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('playlists_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.description }}</td>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
