{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ajout d'un genre</h1>

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form(form) }}

	<a href="{{ path('genres') }}"><button class="btn">Retour</button></a>
{% endblock %}
